
/* .billing-table .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #F9FAFC;
} */
.billing-table {
  padding-right: 16px;
  padding-left: 24px;
}

.billing-table .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #F9FAFC;
}

.billing-table-even-bg  .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #F9FAFC;
}

.billing-table-even-bg  .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: white;
}

.billing-table .ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: inherit;
}

.billing-table .ant-table-wrapper .ant-table-thead>tr>th {
  /* background: inherit; */
  background-color: white;
  font-family: Fira Sans, serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  padding: 16px 16px 10px 16px;
  font-weight: 500;
  color: #6B7B8C;

}

.billing-table .ant-table-wrapper .ant-table{
  overflow: hidden;
  border-radius: 12 12 0 0;
}

.billing-table .ant-table-wrapper .ant-table-tbody>tr>td {
  font-family: Fira Sans, serif;
  font-size: 14px;
  font-weight: 400;
  border-top: none;
  color: #464E5F;
  letter-spacing: 0px;
  padding: 12px 16px 12px 16px;
}

 .billing-table .ant-table-tbody>tr.ant-table-row:hover>td {
  background: #E9EDF3;
}

/* .billing-table-inverted .ant-table-tbody>tr.ant-table-row:hover>td {
  background: #E9EDF3;
} */

 .billing-table .ant-table-wrapper .ant-table-tbody>tr:last-child>td {
  border-bottom: none;
}

.billing-table .ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr>td {
  border-top: none;
}

/* .billing-table .ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr:last-child>td {
  border-bottom: none;
} */


.billing-table .ant-table-wrapper .ant-table-summary>tr>td {
  border-bottom: none;
}

.ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr>td.ant-table-cell-row-hover:first-child {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr.ant-table-row:hover>td:last-child,
:where(.css-dev-only-do-not-override-1ij74fp).ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr>td.ant-table-cell-row-hover:last-child {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}


/* scrollbar style */
.ant-table .ant-table-body {
  scrollbar-width: 20px;
} 

.ant-table ::-webkit-scrollbar {
  height: 8px !important; 
}

.ant-table ::-webkit-scrollbar-track {
  background: #F4F7FA !important;
  width: 20px !important;

}

.ant-table ::-webkit-scrollbar-thumb  {
  background-color: #E0E7EF !important;
  width: 20px !important;
}

.ant-table ::-webkit-scrollbar-thumb:hover {
  background-color: #E0E7EF !important;
  width: 20px !important;
}

.ant-table-body {
  padding-top: 200px !important;
}
