.ant-select-show-search:where(.css-dev-only-do-not-override-1ij74fp).ant-select:not(:where(.css-dev-only-do-not-override-1ij74fp).ant-select-customize-input) .ant-select-selector {
    border: none !important;
    height: 100% !important;
}

.ant-select-selector {
    box-shadow: none !important;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-1ij74fp).ant-select:not(:where(.css-dev-only-do-not-override-1ij74fp).ant-select-customize-input) .ant-select-selector {
   height: 42px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

:where(.css-dev-only-do-not-override-1ij74fp).ant-select-single .ant-select-selector .ant-select-selection-search {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

:where(.css-dev-only-do-not-override-1ij74fp).ant-select .ant-select-arrow {
    display: none !important;
}

.ant-select-disabled:where(.css-dev-only-do-not-override-1ij74fp).ant-select:not(:where(.css-dev-only-do-not-override-1ij74fp).ant-select-customize-input) .ant-select-selector{
    background: #E9EDF3 !important;
}

.ant-select-item-option-active {
    background: #E1EFFE !important;
}

.ant-select-item-option-active:after {
    background-image: url('../../../assets/Icons/check.png');
    margin-top: 5px;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    object-fit: contain;

}

.ant-select-item-option-active:hover {
    background: #E1EFFE !important;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    display: flex;
    align-items: center;
    /*background: #E9EDF3;*/
    height: 100%;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item img {
    margin-top: 6px !important;
}

 .searchByRoleSelect .ant-select-selector{
     background: #E9EDF3 !important;
}

.searchByRoleSelect .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    display: flex;
    align-items: center;
    background: #E9EDF3;
    height: 100%;
}

 .notSelect .ant-select-selector{
     background: white !important;
}


.ant-select-item-option-content {
     /*background: ;*/
}

/* .ant-select-selector {*/
/*    !*background: #E9EDF3;*!*/
/*}*/


/*.ant-select-selection {*/
/*    background: red !important;*/
/*}*/

/*.ant-select-arrow .anticon > svg {*/
/*    background: red !important;*/
/*}*/

/*.ant-select-item {*/
/*    background: red !important;*/
/*}*/
