.ant-select-selector {
    border: none !important;
    height: 100% !important;
    box-shadow: none !important;
    height: 42px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

 .ant-select-selector .ant-select-selection-search {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}



.select-icon .ant-select .ant-select-arrow {
    background-image: url('../../../../assets/Icons/arrow_drop_down.png') !important;
    background-size: 7px 5px !important;
    margin-top: -3px;
    width: 7px !important;
    height: 5px !important;
    content:"" !important;

}

.ant-select-item-option-active {
    background: #E1EFFE !important;
}

.ant-select-item-option-selected:after {
    background-image: url('../../../../assets/Icons/check.png');
    margin-top: 5px;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content: "";
    object-fit: contain;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item img {
    margin-top: 6px !important;
}

.searchByRoleSelect .ant-select-selector {
    background: #E9EDF3 !important;
}

.searchByRoleSelect .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    display: flex;
    align-items: center;
    background: #E9EDF3;
    height: 100%;
}

.notSelect .ant-select-selector {
    background: white !important;

    
}

/* placeholder style */
.ant-select-selection-placeholder {
    font-weight: bold !important;
    color: #5F6B7D !important;
    font-size: 14px !important;
}

.ant-select-selector input{
    font-weight: bold;
    color: #464E5F;
    font-size: 14px;
}


.ant-select-dropdown {
    padding: 0 !important;
    border-radius: 8px !important;
}

.ant-select-item-option-active:hover {
    background: #F4F7FA !important;
}
.ant-select-item-option-active:active {
    background: #EAF3FA !important;
}

.ant-select-item-option-selected:hover {
   background-color: #D6E5F5 !important;
}

.ant-select-item-option-selected:active {
    background-color: #F3F4F6 !important;
 }

