.billing-table,
.ant-table-row:nth-child(even) {
  background-color: #f9fafc;
}

.billing-table,
.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background-color: inherit;
}

.billing-table,
.ant-table-wrapper .ant-table-thead > tr > th {
  background: inherit;
  font-family: Fira Sans, serif;
  font-size: 12px;
  font-weight: 500;
  color: #6b7b8c;
}

.billing-table,
.ant-table-wrapper .ant-table-tbody > tr > td {
  font-family: Fira Sans, serif;
  font-size: 14px;
  font-weight: 400;
  border-top: none;
  color: #464e5f;
}

.billing-table,
.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}
.billing-table,
.ant-table-wrapper .ant-table-tbody > tr:last-child > td {
  border-bottom: none;
}
