@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;275;300;400;500;600;700&display=swap");
@tailwind base;

/* Firefox */
.custom_scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e0e7ef;
}

/* Chrome, Edge, and Safari */
.custom_scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 5px;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 14px;
  border: 3px solid #e0e7ef;
}

@tailwind components;
@tailwind utilities;

@layer components {
  .nameParagraph1 {
    @apply text-[14px] font-medium text-ct-blue-95;
  }

  .titleParagraph {
    @apply text-[14px] font-medium text-ct-blue-90;
  }

  .titleParagraphMedium {
    @apply text-[18px] font-medium text-ct-blue-95;
  }

  .deleteIcon {
    @apply w-[20px] h-[20px];
  }

  .sideDrawerActiveNav {
    @apply bg-blue-10 text-secondary-blue-50 font-medium rounded-[20px] px-[10px] py-[5px] flex justify-between items-center;
  }

  .sideDrawerDeactiveNav {
    @apply text-blue-gray-A50 rounded-[20px] px-[10px] py-[5px] flex justify-between items-center;
  }

  .comboBoxLabel {
    @apply font-medium text-blue-gray-75 text-[14px];
  }

  .xSmallButton {
    @apply text-xxs font-medium py-2 px-7 rounded-md;
  }

  .smallButton {
    @apply text-small font-medium py-2 px-8 rounded-md;
  }

  .mediumButton {
    @apply text-base font-medium py-[10px] px-8 rounded-md;
  }
  .xSmallIconButton {
    @apply text-xxs font-medium py-2 rounded-md;
  }

  .smallIconButton {
    @apply text-small font-medium py-2 rounded-md;
  }

  .mediumIconButton {
    @apply text-base font-medium py-[10px] rounded-md;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fira Sans", sans-serif;
}

code {
  font-family: "Fira Sans", sans-serif;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  font-family: "Fira Sans", sans-serif;
}

#triangle {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

/* for globally stop this  */
.recharts-layer .recharts-pie-sector {
  outline: none;
}

.recharts-layer .recharts-pie {
  outline: none;
}
.recharts-layer {
  outline: none;
}

.lable-text:hover
  .recharts-tooltip-wrapper
  .recharts-tooltip-wrapper-left
  .recharts-tooltip-wrapper-top {
  visibility: visible !important;
}

/* hide scrollbar but allow scrolling */
/* .selected-items {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}

.selected-items::-webkit-scrollbar {
  display: none;
} */

.selected-items {
  display: inline-block;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #2c79be;
}

.script-modal-description {
  display: -webkit-box;
  width: 752px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
