.script-form .source-reference .file-upload-hidden .ant-upload-wrapper .ant-upload-list {
    background-color: #F4F7FA !important;
    padding: 8px 16px 14px 16px;
    border-radius: 4px;
    display: none;
}

/* '&::-webkit-input-placeholder': { color: 'blue' } */
.scriptCustomPlaceholder ::placeholder {
    color: #62656f !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

.writeScriptfield::placeholder {
    color: #9FA3B2 !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.ant-upload-icon {
    background-image: url('../../../../assets/Icons/picture_as_pdf.svg');
    margin-left: auto;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    content: "";
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item-error .ant-upload-icon .anticon {
    display: none !important;
}

.script-form .ant-upload-list-item-name {
    color: #136EE5 !important;
    font-size: 14px !important;
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-actions .ant-upload-list-item-action.ant-btn-sm {
    background-image: url('../../../../assets/Icons/delete_icon.png');
    margin-left: auto;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    content: "";
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-actions .ant-upload-list-item-action.ant-btn-sm>span {
    display: none;
}

.ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
    border: none !important;
}

.file-upload .ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled) {
    border: none !important;
}

.file-upload-hidden .ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled) {
    display: none !important;
}

.MuiInput-input {
    color: #464E5F !important;
    font-size: 19px !important;
}

.button,
optgroup,
select,
textarea {
    color: #464E5F !important;
    font-size: 19px;
    font-weight: 500;
    outline: none;
}

.MuiAutocomplete-input {
    font-size: 14px !important;
    color: #464E5F !important;
    font-weight: 600 !important;
}

.MuiAutocomplete-option[aria-selected="true"] {
    background-color: #E1EFFE !important;
    color: #2C79BE !important;
    font-weight: 500;
}

.MuiAutocomplete-option[aria-selected="true"]::after {
    background-image: url('../../../../assets/Icons/check.png');
    margin-left: auto;
    background-size: 15px 10px;
    width: 15px;
    height: 10px;
    content: "";
}

[disabled] {
    background-color: #F9FAFC !important;
    cursor: not-allowed !important;
}

.disabled-cursor[disabled] {
    background-color: #F9FAFC !important;
    cursor: not-allowed !important;
}

.disableAutocompleteColor .MuiAutocomplete-hasPopupIcon.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root {
    background-color: #F9FAFC !important;
}

.source-reference .css-honmcm-MuiGrid-root>.MuiGrid-item {
    padding-top: 0px !important;
}

/* Select */
.MuiMenuItem-root.Mui-selected {
    background: #E1EFFE !important;
    color: #2C79BE !important;
    font-weight: 500;
}

.MuiMenuItem-root.Mui-selected::after {
    background-image: url('../../../../assets/Icons/check.png');
    margin-left: auto;
    background-size: 15px 10px;
    width: 15px;
    height: 10px;
    content: "";
}

.MuiMenuItem-root {
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #464E5F !important;
}

.MuiOutlinedInput-input {
    color: #464E5F !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.customMuiListBox .css-gdh49b-MuiAutocomplete-listbox .MuiAutocomplete-option {
    color: #464E5F !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}


/* Form hieght */

.MuiTextField-root label {
    top: -5px;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    top: 0px !important;
    background-color: white;

}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 44px !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root {
    height: 44px !important;
}

label {
    top: -5px !important;
}

.MuiAutocomplete-hasPopupIcon.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root {
    height: 44px;
}


/* border color set */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid #E9EDF3 !important;
    border-radius: 7px !important;
}


/* input background color set */
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root {
    background-color: white !important;
    border-radius: 7px !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    background-color: white !important;
    border-radius: 7px !important;
}

.css-q8hpuo-MuiFormControl-root {
    background-color: white !important;
    border-radius: 7px !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root {
    background-color: white !important;
    border-radius: 7px !important;

}


/* new */
.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    height: 12px !important;
}

.MuiAutocomplete-popper {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

/* radio button */
.Mui-checked {
    pointer-events: none !important;
}

.MuiRadio-root {
    pointer-events: none !important;
}

/* radio button */

.custom-grid .css-1ld3b9g-MuiGrid-root>.MuiGrid-item {
    padding-top: 10px !important;
}

/* assign */
.assign .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    font-size: 13px !important;
    color: #9099A1 !important;
}

.assign .ant-select-selector {
    background-color: transparent !important;
    padding: 0 !important;
}

/* Update assign model */
.update-assign-model .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    width: 100%;
}

.update-assign-model .css-1nrlq1o-MuiFormControl-root {
    width: 100%;
}

/* Radio Button */
.custom-radio-button .css-vqmohf-MuiButtonBase-root-MuiRadio-root {
    padding: 0 8px 0 0 !important;
}

.custom-radio-button .css-j204z7-MuiFormControlLabel-root {
    padding: 2px 8px 2px 8px !important;
}

.custom-radio-button .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    margin-right: 0px;
}

.radio-style .css-vqmohf-MuiButtonBase-root-MuiRadio-root {
    padding: 6px 7px 6px 8px !important;
}