/* .title-descrioption .MuiOutlinedInput-notchedOutline {
    border: none !important;
} */

.writeScriptfield:hover {
    border: none !important;
}

#script:focus {
    outline: none !important;
}

.writeScriptfield:focus {
    outline: none !important;
}