.ant-picker-dropdown .ant-picker-panel-container {
    width: 400px;
    background: #1F1F1F;
    box-shadow: 0px 4px 16px rgba(70, 78, 95, 0.35);
}
.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panel-focused {
    width: 100%;
}
.ant-picker-dropdown .ant-picker-date-panel{
    width: 100%;
}
.ant-picker-dropdown .ant-picker-date-panel .ant-picker-content {
    width: 100%;
}

.ant-picker-dropdown .ant-picker-cell-in-view:is(:where(.css-dev-only-do-not-override-acm2ia).ant-picker-dropdown .ant-picker-cell-today) .ant-picker-cell-inner::before{
    border: none;
}

.ant-picker-dropdown .ant-picker-header-view{
    font-weight: 500;
    font-size: 16px;
}

.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panel-layout{
    padding: 24px;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-body{
    padding: 10px 0px 0px 0px;
}

.ant-picker-dropdown .ant-picker-header button {
    color: white;
}

.ant-picker-dropdown .ant-picker-content th {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.ant-picker-dropdown .ant-picker-content th:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    color: #8EBFFF;
}

.ant-picker-dropdown .ant-picker-content th:nth-child(7) {
    font-size: 16px;
    font-weight: 600;
    color: #8EBFFF;
}

.ant-picker-dropdown .ant-picker-cell-in-view {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.ant-picker-dropdown .ant-picker-cell-in-view:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    color: #8EBFFF;
}

.ant-picker-dropdown .ant-picker-cell-in-view:nth-child(7) {
    font-size: 16px;
    font-weight: 500;
    color: #8EBFFF;
}

.ant-picker-dropdown .ant-picker-cell-disabled {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.216);
}

.ant-picker-dropdown .ant-picker-cell-disabled:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.216);
}

.ant-picker-dropdown .ant-picker-cell-disabled:nth-child(7) {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.216);
}

.ant-picker-dropdown .ant-picker-cell:not(.ant-picker-cell-in-view){
    font-size: 16px;
    font-weight: 500;
    color: #5F6B7D;
}
.ant-picker-dropdown .ant-picker-header >button:hover{
    color: white;
}

.ant-picker-dropdown {
    position: fixed;
    top: calc(50% - 244px) !important;
    left: calc(50% - 200px) !important;
    z-index: 99999;

    /* position: fixed;
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999; */

}

.custom-date-picker {
    visibility: hidden;
    height: 0;
    padding: 0;
    width: 0;
    position: absolute;
}

.custom-date-picker,
.ant-picker-dropdown .ant-picker-panel .ant-picker-footer {
    border-top: none;
}

.ant-picker-cell-inner.date-in-range .date {
    display: block;
    width: 50.2px;
    height: 24px;
    background: rgba(19, 110, 229, 0.62);
}

.ant-picker-cell-inner.date-s-selected .date {
    position: relative;
    /*top: 3px;*/
    /*left: 50%;*/
    /*background: rgba(19, 110, 229, 0.62);*/
}

.ant-picker-cell-inner.date-s-selected .date::after {
    position: absolute;
    content: "";
    width: 26px;
    left: 50%;
    height: 24px;
    background: rgba(19, 110, 229, 0.62);
    z-index: -1;
}

.ant-picker-cell-inner.date-e-selected .date::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 24px;
    right: 50%;
    background: rgba(19, 110, 229, 0.62);
    z-index: -1;
}